<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ami-static.b0.upaiyun.com/active2016/base/flexible.js"></script>
    <title>app</title>
</head>
<body>
<!--<script>-->
    <!--window.onerror = function (msg, url, line) {-->
        <!--var txt = "";-->
        <!--txt = "错误信息：" + msg + "<br>";-->
        <!--txt += "出错文件：" + url + "<br>";-->
        <!--txt += "出错行号：" + line;-->

        <!--document.write(txt);-->
        <!--return true;-->
    <!--}-->
<!--</script>-->
</body>
</html>