.app {
  font-size: 0;
  img {
    width: 100%;
  }
  .header {
    .logo {
      position: absolute;
      left: 30px;
      top: 20px;
      width: 101px;
      height: 27px;
      background-image: url('https://ami-img.b0.upaiyun.com/activityNew/Indianamb/common/img-logo.png');
      background-size: 101px 27px;
      background-repeat: no-repeat;
    }
  }
  .body {
    margin-top: -1px;
  }
  .footer {
    position: relative;
    margin-top: -1px;
  }
  .btn {
    position: absolute;
    bottom: 275px;
    width: 230px;
    height: 80px;
    &.rules {
      bottom: 590px;
      left: 60px;
      width: 180px;
      height: 50px;
    }
    &.share {
      right: 120px;
    }
    &.paper {
      left: 120px;
    }
  }
}

.rules-wrapper{
  width: 400px;
  height: 300px;
  background-color: #fff;
}